<div ng-controller="loginController">
    <div class="row container login">
        <div class="col l6 offset-l3 m8 offset-m2 s12 center">
            <div class="card">
                <span class="card-title black-text">Inicia Sesion</span>
                <div id="loginForm">
                    <div class="input-field">
                        <input type="text" class="validate" id="usuario">
                        <label for="usuario">Usuario</label>
                    </div>
                    <a class="waves-effect waves-light btn-large" ng-click="btnAceptar()">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>